<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <title>Add Student</title>
  </head>
  <body>
<h1> Add Sudent</h1>
<!--<form action="/action_page.php"> -->
    <fieldset>
     <legend>Student Information:</legend>
     <label for="studentid">Student ID:</label>
     <input type="text" id="studentid" name="studentid"><br><br>
     <label for="studentname">Student name:</label>
     <input type="text" id="studentname" name="studentname"><br><br>

     <label for="program:">Program:</label>
    <select name="cars" id="cars">
        <option value="BSD">BSD</option>
        <option value="CPA">CPA</option>
        <option value="DSA">DSA</option>
    </select><br><br>

     <label for="gpa">GPA:</label>
     <input type="text" id="gpa" name="gpa"><br><br>
     <input type="submit" value="Submit">
     <input type="submit" value="Reset">
    </fieldset>
   <!--</form> -->
  </body>

  </html>
